.sidebar {
  width: 300px;
  background-color: #fff;
  padding: 0 20px;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 1.5px 0 0 0 rgba(208, 208, 208, 0.25);
}

.buttonGroup {
  display: flex;
  margin-bottom: 24px;
}

.itemsList {
  display: flex;
  flex-direction: column;
  // gap: 12px;
}


.sidebarItem {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #fff;
    border: 1px solid #ECEFF3;
    box-shadow: 0px -2px 1px 0px #0000001A;
    height: 52px;
  }

  &:active {
    background-color: #fff;
    border: 1px solid #ECEFF3;
  }
}

.active {
  border: 1px solid #ECEFF3;
  background-color: #fff;
  color: #7A4DF5;
    box-shadow: 0px -2px 4px 0px #0000001A;
    height: 52px;


  h1, h2, h3, h4, h5, h6, p, span {
    color: #7A4DF5 !important;
  }
}
